{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="m-3 d-flex justify-content-center">
        <h1 class="m-5">ajouter un lieu</h1>
    </div>


    {{ form_start(lieuform) }}

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">nom : </span>{{ form_widget(lieuform.nom) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">rue : </span>{{ form_widget(lieuform.rue) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">latitude : </span>{{ form_widget(lieuform.latitude) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">longitude : </span>{{ form_widget(lieuform.longitude) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">ville : </span>{{ form_widget(lieuform.ville) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">enregistrer</button>
    </div>

    {{ form_end(lieuform) }}
{% endblock %}

