

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">eni sorti</a>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ajouter</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('newVille') }}">une ville</a>
                        <a class="dropdown-item" href="{{ path('newLieu') }}">un lieu</a>
                        <a class="dropdown-item" href="{{ path('newSortie') }}">une sortie</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.nom  }} {{ app.user.prenom }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('profil') }}">mon profil</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('admin')}}">administration</a>
                            <a class="dropdown-item" href="#">gerer les utilisateur</a>
                            <a class="dropdown-item" href="#">gerer les sortie</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Deconnection</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

