{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block navbar %}{%  endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}


        <button type="submit" class="btn">enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
