{% extends 'base.html.twig' %}

{%  block navbar %}{% endblock %}
{% block body %}


<h1 class="text-center p-5">ENI sorti scolaire</h1>
<form method="post" class="container-fluid">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="text-center p-4" >
        <label for="inputUsername"><h5>Username</h5></label>
        <div class="d-flex justify-content-center">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" style="max-width: 500px" autocomplete="username" required autofocus>
        </div>
            </div>
    <div class="text-center p-4" >
        <label for="inputPassword"><h5>Password</h5></label>
        <div class="d-flex justify-content-center">
            <input type="password" name="password" id="inputPassword" class="form-control" style="max-width: 500px"autocomplete="current-password" required>
        </div>

    </div>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="checkbox mb-3 d-flex justify-content-center">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html


    #}
    <div class="m-5 text-center">
        <button class="btn btn-lg btn-primary" type="submit">
            connection
        </button>
    </div>

</form>


{% endblock %}
