{% extends 'base.html.twig' %}

{% block body %}

    <div class="m-3 d-flex justify-content-center">
        <h1 class="m-5">administration</h1>
    </div>

    <div class="row">

        <div class="m-3 d-flex justify-content-center">
            <h3 class="m-2">utilisateur</h3>
        </div>

        <div class="col-4">
            <a href="">
                <div class="card bg-secondary mb-3" >
                    <div class="card-header text-center">utilisateur</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">gerer les utilisateur</h4>
                        <p class="card-text text-center">rendre actif ou inactif un utilisateur, le suprimer ou modifier sont campus</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a href="">
                <div class="card bg-secondary mb-3" >
                    <div class="card-header text-center">utilisateur</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">inscrire un utilisateur</h4>
                        <p class="card-text text-center">permet d'inscrire manuellement un utilisateur</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-4">
            <a href="">
                <div class="card bg-secondary mb-3" >
                    <div class="card-header text-center">utilisateur</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">inscrire un utilisateur</h4>
                        <p class="card-text text-center">permet d'inscrire manuellement un utilisateur</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="m-3 d-flex justify-content-center">
            <h3 class="m-2">campus</h3>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{{ path('newCampus') }}">
                <div class="card bg-secondary mb-3" >
                    <div class="card-header text-center">campus</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">créé un nouveau campus</h4>
                        <p class="card-text text-center">permet de créé un nouveau campus dans la base de donner</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
{% endblock %}



