{% extends 'base.html.twig' %}

{% block body %}

    <div class="m-3 d-flex justify-content-center">
        <h1 class="m-5">ajouter un campus</h1>
    </div>

    {{ form_start(campusForm) }}

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">nom : <br></span>{{ form_widget(campusForm.nom) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">enregistrer</button>
    </div>

    {{ form_end(campusForm) }}

{% endblock %}

