{% extends 'base.html.twig' %}

{% block body %}

    <div class="m-3 d-flex justify-content-center">
        <h1 class="m-5">créé une sorti</h1>
    </div>

    {{ form_start(sortiform) }}

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">nom : <br></span>{{ form_widget(sortiform.nom) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">description : <br></span>{{ form_widget(sortiform.infosSortie) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">date et heure du debut : <br></span>{{ form_widget(sortiform.dateHeureDebut) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">date et heure de fin : <br></span>{{ form_widget(sortiform.dateHeureFin) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">nombre maximum de participant : <br></span>{{ form_widget(sortiform.nbInscriptionMax) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">date limite d'inscription : <br></span>{{ form_widget(sortiform.dateLimiteInscription) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black text-center"><span class="text-muted">lieu de la sortie : <br></span>{{ form_widget(sortiform.lieu) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">enregistrer</button>
    </div>

    {{ form_end(sortiform) }}
{% endblock %}

