{% extends 'base.html.twig' %}

{% block body %}


    <div class="m-3 d-flex justify-content-center">
        <h1 class="m-5">ajouter une ville</h1>
    </div>


    {{ form_start(villeform) }}

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">nom : </span>{{ form_widget(villeform.nom) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <p class="text-black"><span class="text-muted">code postal : </span>{{ form_widget(villeform.codePostal) }}</p>
    </div>

    <div class="m-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">enregistrer</button>
    </div>

    {{ form_end(villeform) }}
{% endblock %}

