<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}eni symfony projet{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        {% block javascripts %}{% endblock %}

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    </head>

    <body>
        <header>
            {% block navbar %}
                {%  include('commun/navbar.html.twig') %}
            {% endblock %}
        </header>

        <main class="container mt-3">
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
