{% extends 'base.html.twig' %}

{% block body %}





    <img src="{{ asset('image/profil/img.png') }}" class="rounded mx-auto d-block" alt="...">

    <div class=" m-5">
        {{ form_start(mofificationForm) }}

        <div class="m-1 d-flex justify-content-center" onclick="">
            <p class="text-black text-center"><span class="text-muted">nom : <br></span>{{ form_widget(mofificationForm.nom) }}</p>
        </div>

        <div class="m-1 d-flex justify-content-center">
            <p class="text-black text-center"><span class="text-muted">prenom : <br></span>{{ form_widget(mofificationForm.prenom) }}</p>
        </div>

        <div class="m-1 d-flex justify-content-center">
            <p class="text-black text-center"><span class="text-muted">email : <br></span>{{ form_widget(mofificationForm.email) }}</p>
        </div>

        <div class="m-1 d-flex justify-content-center">
            <p class="text-black text-center"><span class="text-muted">telephone : <br></span>{{ form_widget(mofificationForm.telephone) }}</p>
        </div>

        <div class="m-1 d-flex justify-content-center">
            <p class="text-black text-center"><span class="text-muted">campus : <br></span>{{ app.user.campus.nom }}</p>
        </div>

        <div class="m-1 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">valider</button>
        </div>


        {{ form_end(mofificationForm) }}

        <div class="m-5 d-flex justify-content-center">
            <h4>Modification du mot de passe</h4>
        </div>

        {{ form_start(passawordForm) }}


        <div class="m-1 ">
            <div class="d-flex justify-content-center">
                <span class="text-muted">mot de passe : </span>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text-black text-center">{{ form_widget(passawordForm.motDePasse) }}</p>
            </div>
        </div>

        <div class="m-1 ">
            <div class="d-flex justify-content-center">
                <span class="text-muted">comfirmation : </span>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text-black text-center">{{ form_widget(passawordForm.confirmation) }}</p>
            </div>
        </div>

        <div class="m-1 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">valider</button>
        </div>

        {{ form_end(passawordForm) }}

    </div>

{% endblock %}

